interactions:
- request:
    body:
      client_id: REDACTED
      client_secret: REDACTED
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://platforma.pvintegrations-dev.net/inthub/api/v1/oauth2/token
  response:
    body:
      string: '{"access_token":"REDACTED","expires_in":3600,"token_type":"Bearer"}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - fsazCFhcvHcF2XQ=
      x-amzn-RequestId:
      - fa178469-1a15-4065-8ea6-6d9fe23cfee3
    status:
      code: 200
      message: OK
    url: https://platforma.pvintegrations-dev.net/inthub/api/v1/oauth2/token
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
    method: GET
    uri: https://platforma.pvintegrations-dev.net/inthub/admin/api/v1/deployments/find?systemCode=okrs&environmentId=okrs-env-us-west-2&systemTenantId=okrs-d08-10100000101
  response:
    body:
      string: '[{"systemCode":"okrs","environmentId":"okrs-env-us-west-2","systemTenantId":"okrs-d08-10100000101","globalTenantId":["74ef27c7-aa51-40ca-ace6-78efdd2e40b3"]}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-amz-apigw-id:
      - fsazEHS_PHcFXFg=
      x-amzn-RequestId:
      - 1b6f95c2-1cf2-4b16-9888-50bac09c18c8
    status:
      code: 200
      message: OK
    url: https://platforma.pvintegrations-dev.net/inthub/admin/api/v1/deployments/find?systemCode=okrs&environmentId=okrs-env-us-west-2&systemTenantId=okrs-d08-10100000101
version: 1
