*,cover
*.log
*.pyc
*.pyd
*.pyo
.Python
.cache
.coverage
.coverage.*
.editorconfig
.git
.gitignore
.github
.markdownlint.yml
.pylintrc
.tox
.venv
.vscode
__pycache__
chart
coverage.xml
docs
env
nosetests.xml
pip-delete-this-directory.txt
pip-log.txt
tests
tools
!tools/ih_subscription_syncer.py
