interactions:
- request:
    body:
      client_id: REDACTED
      client_secret: REDACTED
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://platforma.pvintegrations-dev.net/inthub/api/v1/oauth2/token
  response:
    body:
      string: '{"access_token":"REDACTED","expires_in":3600,"token_type":"Bearer"}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - Aq5YOF0SPHcFs8A=
      x-amzn-RequestId:
      - 4ebf311e-4e59-4ae2-98bb-627c4e27d798
    status:
      code: 200
      message: OK
    url: https://platforma.pvintegrations-dev.net/inthub/api/v1/oauth2/token
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
    method: POST
    uri: https://platforma.pvintegrations-dev.net/inthub/api/v1/register
  response:
    body:
      string: '{"queues":["okrs_okrs_okrs-env-us-west-2_adapter-okrs-d08_queue_1.fifo"],"tenantMapping":{"okrs-d08-10100000101":{"globalTenantIds":["74ef27c7-aa51-40ca-ace6-78efdd2e40b3"],"queue":"okrs_okrs_okrs-env-us-west-2_adapter-okrs-d08_queue_1.fifo"}}}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - Aq5YSGB7PHcFskg=
      x-amzn-RequestId:
      - 120f7534-1bf6-469a-9f35-cfe8d782e3d0
    status:
      code: 200
      message: OK
    url: https://platforma.pvintegrations-dev.net/inthub/api/v1/register
version: 1
