interactions:
- request:
    body:
      client_id: REDACTED
      client_secret: REDACTED
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://platforma.pvintegrations-dev.net/inthub/api/v1/oauth2/token
  response:
    body:
      string: '{"access_token":"REDACTED","expires_in":3600,"token_type":"Bearer"}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - fipQsEY8PHcFVXA=
      x-amzn-RequestId:
      - d2047b86-7795-4baa-89ef-8c1f3678173b
    status:
      code: 200
      message: OK
    url: https://platforma.pvintegrations-dev.net/inthub/api/v1/oauth2/token
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
    method: GET
    uri: https://platforma.pvintegrations-dev.net/inthub/admin/api/v1/deployments/find?systemCode=okrs&environmentId=okrs-env-us-west-2&systemTenantId=okrs-d09-000001111
  response:
    body:
      string: '{"errors":[{"type":12,"message":"Tenant with systemCode: ''okrs'',
        environmentId: ''okrs-env-us-west-2'', systemTenantId: ''okrs-d09-000001111''
        was not found.","context":null,"cause":null}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-amz-apigw-id:
      - fipQvGXDPHcFjzQ=
      x-amzn-RequestId:
      - 8810762e-f2b8-4db9-962c-571333551b1b
    status:
      code: 404
      message: Not Found
    url: https://platforma.pvintegrations-dev.net/inthub/admin/api/v1/deployments/find?systemCode=okrs&environmentId=okrs-env-us-west-2&systemTenantId=okrs-d09-000001111
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
    method: GET
    uri: https://platforma.pvintegrations-dev.net/inthub/admin/api/v1/deployments/find?systemCode=lk&environmentId=d09&systemTenantId=000001111
  response:
    body:
      string: '{"errors":[{"type":12,"message":"Tenant with systemCode: ''lk'', environmentId:
        ''d09'', systemTenantId: ''000001111'' was not found.","context":null,"cause":null}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-amz-apigw-id:
      - fipSIExHPHcFUZw=
      x-amzn-RequestId:
      - f176dcbf-c111-4337-bff3-229ad8119542
    status:
      code: 404
      message: Not Found
    url: https://platforma.pvintegrations-dev.net/inthub/admin/api/v1/deployments/find?systemCode=lk&environmentId=d09&systemTenantId=000001111
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
    method: POST
    uri: https://platforma.pvintegrations-dev.net/inthub/admin/api/v1/tenants
  response:
    body:
      string: '{"data":[{"globalTenantId":"d70501b1-8da8-4ff0-8c97-1c8a20c5023f","tenantName":"okrs-customer","salesforceId":null,"integratedDeployments":[{"systemCode":"okrs","environmentId":"okrs-env-us-west-2","systemTenantId":"okrs-d09-000001111"},{"systemCode":"lk","environmentId":"d09","systemTenantId":"000001111"}]}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-amz-apigw-id:
      - fipSKFYwPHcFohA=
      x-amzn-RequestId:
      - be40e947-5044-4e10-acec-e7fb148befc0
    status:
      code: 200
      message: OK
    url: https://platforma.pvintegrations-dev.net/inthub/admin/api/v1/tenants
version: 1
