interactions:
- request:
    body:
      client_id: REDACTED
      client_secret: REDACTED
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://platforma.pvintegrations-dev.net/inthub/api/v1/oauth2/token
  response:
    body:
      string: '{"access_token":"REDACTED","expires_in":3600,"token_type":"Bearer"}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - ficJzHZsPHcF4vw=
      x-amzn-RequestId:
      - 7fed44cb-6177-4f04-9f2d-782b9e3d04b4
    status:
      code: 200
      message: OK
    url: https://platforma.pvintegrations-dev.net/inthub/api/v1/oauth2/token
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
    method: GET
    uri: https://platforma.pvintegrations-dev.net/inthub/admin/api/v1/deployments/find?systemCode=okrs&environmentId=okrs-env-us-west-2&systemTenantId=okrs-d08-bogusid123
  response:
    body:
      string: '{"errors":[{"type":12,"message":"Tenant with systemCode: ''okrs'',
        environmentId: ''okrs-env-us-west-2'', systemTenantId: ''okrs-d08-bogusid123''
        was not found.","context":null,"cause":null}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-amz-apigw-id:
      - ficJ3GWiPHcFQOQ=
      x-amzn-RequestId:
      - b0da09a8-618d-4f96-9c4a-d7bd7efb57bb
    status:
      code: 404
      message: Not Found
    url: https://platforma.pvintegrations-dev.net/inthub/admin/api/v1/deployments/find?systemCode=okrs&environmentId=okrs-env-us-west-2&systemTenantId=okrs-d08-bogusid123
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
    method: GET
    uri: https://platforma.pvintegrations-dev.net/inthub/admin/api/v1/deployments/find?systemCode=lk&environmentId=d08&systemTenantId=bogusid123
  response:
    body:
      string: '{"errors":[{"type":12,"message":"Tenant with systemCode: ''lk'', environmentId:
        ''d08'', systemTenantId: ''bogusid123'' was not found.","context":null,"cause":null}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-amz-apigw-id:
      - ficLKGHdvHcFimQ=
      x-amzn-RequestId:
      - 4a466810-4c92-45a6-a9f7-57ab685a6b8f
    status:
      code: 404
      message: Not Found
    url: https://platforma.pvintegrations-dev.net/inthub/admin/api/v1/deployments/find?systemCode=lk&environmentId=d08&systemTenantId=bogusid123
version: 1
