interactions:
- request:
    body:
      client_id: REDACTED
      client_secret: REDACTED
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://us-west-2.pvintegrations-staging.net/inthub/api/v1/oauth2/token
  response:
    body:
      string: '{"access_token":"REDACTED","expires_in":3600,"token_type":"Bearer"}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - dETZkHK2vHcFqrw=
      x-amzn-RequestId:
      - 4c59ca0a-c4a3-4d82-a0ae-53f8f71b2cc1
    status:
      code: 200
      message: OK
    url: https://us-west-2.pvintegrations-staging.net/inthub/api/v1/oauth2/token
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
    method: GET
    uri: https://us-west-2.pvintegrations-staging.net/inthub/admin/api/v1/deployments/find?systemCode=okrs&environmentId=okrs-env-us-west-2&systemTenantId=okrs-i01-10100000101
  response:
    body:
      string: '{"data":[{"integratedDeployment":{"systemCode":"okrs","environmentId":"okrs-env-us-west-2","systemTenantId":"okrs-i01-10100000101"},"globalTenantIds":["9e08395c-0fb1-4e92-b318-1c8c9c865e9d"]}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-amz-apigw-id:
      - dETZmEQxPHcFjaw=
      x-amzn-RequestId:
      - 81e3565f-c2fd-4da0-aab8-fad51cef9a0d
    status:
      code: 200
      message: OK
    url: https://us-west-2.pvintegrations-staging.net/inthub/admin/api/v1/deployments/find?systemCode=okrs&environmentId=okrs-env-us-west-2&systemTenantId=okrs-i01-10100000101
version: 1
