interactions:
- request:
    body:
      client_id: REDACTED
      client_secret: REDACTED
      grant_type: client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://platforma.pvintegrations-dev.net/inthub/api/v1/oauth2/token
  response:
    body:
      string: '{"access_token":"REDACTED","expires_in":3600,"token_type":"Bearer"}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - cCp6OEgivHcFtMA=
      x-amzn-RequestId:
      - b29b9fe1-1b40-49b9-a860-77f4f8a218c1
    status:
      code: 200
      message: OK
    url: https://platforma.pvintegrations-dev.net/inthub/api/v1/oauth2/token
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
    method: GET
    uri: https://platforma.pvintegrations-dev.net/inthub/admin/api/v1/deployments/find?systemCode=okrs&environmentId=okrs-env-us-west-2&systemTenantId=okrs-d08-10100000101
  response:
    body:
      string: '[{"systemCode":"okrs","environmentId":"okrs-env-us-west-2","systemTenantId":"okrs-d08-10100000101","globalTenantId":["74ef27c7-aa51-40ca-ace6-78efdd2e40b3"]}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-amz-apigw-id:
      - cCp6QHcrvHcFbBA=
      x-amzn-RequestId:
      - 0c00ab29-327f-4a6d-8665-a2cdd4df00db
    status:
      code: 200
      message: OK
    url: https://platforma.pvintegrations-dev.net/inthub/admin/api/v1/deployments/find?systemCode=okrs&environmentId=okrs-env-us-west-2&systemTenantId=okrs-d08-10100000101
version: 1
