interactions:
- request:
    body:
      client_id: REDACTED
      client_secret: REDACTED
      grant_type: client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://platforma.pvintegrations-dev.net/inthub/api/v1/oauth2/token
  response:
    body:
      string: '{"access_token":"REDACTED","expires_in":3600,"token_type":"Bearer"}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - b4__8FyFPHcFtKw=
      x-amzn-RequestId:
      - 5b066c7a-262d-41e6-8e25-e4989c8b7205
    status:
      code: 200
      message: OK
    url: https://platforma.pvintegrations-dev.net/inthub/api/v1/oauth2/token
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
    method: POST
    uri: https://platforma.pvintegrations-dev.net/inthub/api/v1/register
  response:
    body:
      string: '{"queues":["okrs_okrs_okrs-env-us-west-2_adapter-okrs-d08_queue_1.fifo"],"tenantMapping":{"okrs-d08-10100000101":{"globalTenantIds":["74ef27c7-aa51-40ca-ace6-78efdd2e40b3"],"queue":"okrs_okrs_okrs-env-us-west-2_adapter-okrs-d08_queue_1.fifo"}}}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - b4___HoivHcF0iQ=
      x-amzn-RequestId:
      - 59d8cbc7-30cc-410e-93ee-a8938422d4fd
    status:
      code: 200
      message: OK
    url: https://platforma.pvintegrations-dev.net/inthub/api/v1/register
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
    method: POST
    uri: https://platforma.pvintegrations-dev.net/inthub/api/v1/publish
  response:
    body:
      string: '{"successfulDelivery":[]}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - b5ABXH42vHcFtVw=
      x-amzn-RequestId:
      - 63fd2972-4258-435c-8499-ac997bd9def5
    status:
      code: 200
      message: OK
    url: https://platforma.pvintegrations-dev.net/inthub/api/v1/publish
version: 1
