
postgresql:
  password: {{ .Values.postgresql.password | fetchSecretValue |  quote }}
  user: {{ .Values.postgresql.user | fetchSecretValue |  quote }}
  host: {{ .Values.postgresql.host | fetchSecretValue |  quote }}
  port: {{ .Values.postgresql.port | fetchSecretValue |  quote }}
  database: {{ .Values.postgresql.database | fetchSecretValue |  quote }}
  database_url: {{ .Values.postgresql.database_url | fetchSecretValue |  quote }}
