interactions:
- request:
    body: null
    headers:
      authorization:
      - REDACTED
    method: GET
    uri: https://d08.leankit.io/io/okr/board/10121496436
  response:
    body:
      string: "{\"users\":[{\"id\":\"10121496032\",\"username\":\"eheiberg@planview.com\",\"firstName\":\"Eric\",\"lastName\":\"Heiberg\",\"fullName\":\"Eric
        Heiberg\",\"emailAddress\":\"eheiberg@planview.com\",\"gravatarLink\":null,\"avatar\":null,\"lastAccess\":\"2022-02-08T21:45:08.196Z\",\"dateFormat\":\"MM/dd/yyyy\",\"organizationId\":\"10100000101\",\"boardId\":\"10121496436\",\"wip\":0,\"roleTypeId\":5,\"settings\":{},\"boardRoles\":[]},{\"id\":\"10122163240\",\"username\":\"adsa@planview.com\",\"firstName\":\"Ajit\",\"lastName\":\"D'Sa\",\"fullName\":\"Ajit
        D'Sa\",\"emailAddress\":\"adsa@planview.com\",\"gravatarLink\":null,\"avatar\":null,\"lastAccess\":\"2022-01-27T17:58:43.000Z\",\"dateFormat\":\"MM/dd/yyyy\",\"organizationId\":\"10100000101\",\"boardId\":\"10121496436\",\"wip\":0,\"roleTypeId\":1,\"settings\":{},\"boardRoles\":[]}],\"classesOfService\":[],\"tags\":[],\"customFields\":[],\"planningSeries\":[],\"id\":\"10121496436\",\"title\":\"OKRs
        API Test\",\"description\":\"A scrum board we will use to test the API\",\"creationDate\":\"2020-07-23T18:58:39.690Z\",\"classOfServiceEnabled\":false,\"customIconFieldLabel\":\"Class
        of Service\",\"organizationId\":\"10100000101\",\"version\":78,\"cardColorField\":1,\"isCardIdEnabled\":false,\"isHeaderEnabled\":false,\"isHyperlinkEnabled\":false,\"isPrefixEnabled\":false,\"prefix\":\"\",\"format\":\"\",\"isPrefixIncludedInHyperlink\":false,\"baseWipOnCardSize\":false,\"excludeCompletedAndArchiveViolations\":false,\"isDuplicateCardIdAllowed\":false,\"isAutoIncrementCardIdEnabled\":false,\"currentExternalCardId\":\"0\",\"isWelcome\":false,\"isShared\":false,\"isArchived\":false,\"sharedBoardRole\":\"0\",\"customBoardMoniker\":null,\"isPermalinkEnabled\":false,\"isExternalUrlEnabled\":false,\"allowUsersToDeleteCards\":false,\"allowPlanviewIntegration\":false,\"subscriptionId\":null,\"boardRole\":\"boardAdministrator\",\"effectiveBoardRole\":\"boardAdministrator\",\"cardTypes\":[{\"id\":\"10121496438\",\"name\":\"Defect\",\"colorHex\":\"#F69679\",\"isCardType\":true,\"isTaskType\":true},{\"id\":\"10121496439\",\"name\":\"User
        Story\",\"colorHex\":\"#FFBB00\",\"isCardType\":true,\"isTaskType\":true},{\"id\":\"10121496440\",\"name\":\"Task\",\"colorHex\":\"#D3E0E4\",\"isCardType\":true,\"isTaskType\":true},{\"id\":\"10121496441\",\"name\":\"Epic\",\"colorHex\":\"#8CC63F\",\"isCardType\":true,\"isTaskType\":true}],\"laneClassTypes\":[{\"id\":0,\"name\":\"active\"},{\"id\":1,\"name\":\"backlog\"},{\"id\":2,\"name\":\"archive\"}],\"lanes\":[{\"id\":\"10121496446\",\"name\":\"Backlog\",\"description\":\"\",\"cardStatus\":\"notStarted\",\"active\":true,\"cardLimit\":0,\"creationDate\":\"2020-07-23T18:58:39.633Z\",\"index\":0,\"parentLaneId\":null,\"activityId\":null,\"orientation\":\"vertical\",\"isConnectionDoneLane\":false,\"isDefaultDropLane\":false,\"columns\":7,\"wipLimit\":0,\"cardCount\":7,\"cardSize\":7,\"archiveCardCount\":0,\"sortBy\":null,\"subscriptionId\":null,\"laneClassType\":\"backlog\",\"laneType\":\"ready\",\"isCollapsed\":false},{\"id\":\"10121496447\",\"name\":\"Archive\",\"description\":\"\",\"cardStatus\":\"finished\",\"active\":true,\"cardLimit\":0,\"creationDate\":\"2020-07-23T18:58:39.633Z\",\"index\":0,\"parentLaneId\":null,\"activityId\":null,\"orientation\":\"vertical\",\"isConnectionDoneLane\":false,\"isDefaultDropLane\":false,\"columns\":7,\"wipLimit\":0,\"cardCount\":0,\"cardSize\":0,\"archiveCardCount\":48,\"sortBy\":null,\"subscriptionId\":null,\"laneClassType\":\"archive\",\"laneType\":\"ready\",\"[...]
- request:
    body: null
    headers:
      authorization:
      - REDACTED
    method: GET
    uri: https://d08.leankit.io/io/okr/card?board=10121496436&search=Test
  response:
    body:
      string: '{"cards":[{"assignedUsers":[],"id":"10125205006","index":6,"version":"1","title":"TEST
        2 - Roadmaps are for driving","description":null,"priority":"normal","size":0,"plannedStart":null,"plannedFinish":null,"actualFinish":null,"actualStart":null,"createdOn":"2021-09-28T18:58:07Z","archivedOn":null,"updatedOn":"2021-09-28T18:58:07Z","movedOn":"2021-09-28T18:58:07Z","tags":[],"containingCardId":null,"color":"#F69679","iconPath":null,"customIconLabel":"Class
        of Service","customIcon":null,"blockedStatus":{"isBlocked":false,"reason":null,"date":null},"board":{"id":"10121496436","title":"OKRs
        API Test","version":78,"isArchived":false},"customId":{"value":null,"prefix":null,"url":null},"externalLinks":[],"lane":{"cardLimit":0,"description":"","id":"10121496454","index":0,"laneClassType":"backlog","laneType":"untyped","orientation":"vertical","title":"Product
        Backlog","taskBoard":null},"type":{"id":"10121496438","title":"Defect","cardColor":"#F69679"},"taskBoardStats":null,"planningIncrement":null},{"assignedUsers":[],"id":"10125162668","index":0,"version":"2","title":"TEST
        - Roadmaps are for driving","description":null,"priority":"normal","size":0,"plannedStart":null,"plannedFinish":null,"actualFinish":null,"actualStart":"2021-09-21T22:39:12Z","createdOn":"2021-09-21T22:36:35Z","archivedOn":null,"updatedOn":"2021-09-21T22:39:12Z","movedOn":"2021-09-21T22:39:12Z","tags":[],"containingCardId":null,"color":"#F69679","iconPath":null,"customIconLabel":"Class
        of Service","[...]
