interactions:
- request:
    body:
      client_id: REDACTED
      client_secret: REDACTED
      grant_type: client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://us-west-2.pvintegrations-staging.net/inthub/api/v1/oauth2/token
  response:
    body:
      string: '{"access_token":"REDACTED","expires_in":3600,"token_type":"Bearer"}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - bKf9xEHIvHcF2Tg=
      x-amzn-RequestId:
      - 85f6d52f-0851-46dd-b383-33dfd8011d56
    status:
      code: 200
      message: OK
    url: https://us-west-2.pvintegrations-staging.net/inthub/api/v1/oauth2/token
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
    method: POST
    uri: https://us-west-2.pvintegrations-staging.net/inthub/api/v1/register
  response:
    body:
      string: '{"queues":["staging_okrs_okrs-env-us-west-2_adapter-okrs-d08_queue_1.fifo"],"tenantMapping":{"okrs-d08-10100000101":{"globalTenantIds":["c52c3f98-3cc6-45f3-9cd5-cc0a9768f928"],"queue":"staging_okrs_okrs-env-us-west-2_adapter-okrs-d08_queue_1.fifo"}}}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - bKf9zF5SvHcFfwg=
      x-amzn-RequestId:
      - f97cdd95-1d00-47be-a7bf-71becf4f5ae2
    status:
      code: 200
      message: OK
    url: https://us-west-2.pvintegrations-staging.net/inthub/api/v1/register
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
    method: POST
    uri: https://us-west-2.pvintegrations-staging.net/inthub/api/v1/publish
  response:
    body:
      string: '{"successfulDelivery":["staging_lk_d08_d08-hub-regId_queue_1.fifo"]}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - bKf91GAqPHcFd0g=
      x-amzn-RequestId:
      - 022412da-e779-4599-9eb3-65a5fcf61018
    status:
      code: 200
      message: OK
    url: https://us-west-2.pvintegrations-staging.net/inthub/api/v1/publish
version: 1
