interactions:
- request:
    body: null
    headers:
      authorization:
      - REDACTED
    method: GET
    uri: https://d09.leankit.io/io/okr/card?board=10136408886&search=TEST
  response:
    body:
      string: '{"cards":[{"assignedUsers":[],"id":"10145875549","index":9,"version":"1","title":"[TEST]
        Petting Zoo Field Trip","description":null,"priority":"normal","size":0,"plannedStart":"2020-01-01","plannedFinish":"2021-01-01","actualFinish":null,"actualStart":null,"createdOn":"2021-10-28T21:36:29Z","archivedOn":null,"updatedOn":"2021-10-28T21:36:29Z","movedOn":"2021-10-28T21:36:29Z","tags":[],"containingCardId":null,"color":"#FFFFFF","iconPath":null,"customIconLabel":"Class
        of Service","customIcon":null,"blockedStatus":{"isBlocked":false,"reason":null,"date":null},"board":{"id":"10136408886","title":"API
        Testing - Libby1","version":284,"isArchived":false},"customId":{"value":null,"prefix":null,"url":null},"externalLinks":[],"lane":{"cardLimit":0,"description":null,"id":"10136408904","index":0,"laneClassType":"backlog","laneType":"ready","orientation":"vertical","title":"New
        Requests","taskBoard":null},"type":{"id":"10136408888","title":"Other Work","cardColor":"#FFFFFF"},"taskBoardStats":null,"planningIncrement":null},{"assignedUsers":[],"id":"10145875064","index":8,"version":"1","title":"[TEST]
        Petting Zoo Field Trip","description":null,"priority":"normal","size":0,"plannedStart":"2020-01-01","plannedFinish":"2021-01-01","actualFinish":null,"actualStart":null,"createdOn":"2021-10-27T20:55:30Z","archivedOn":null,"updatedOn":"2021-10-27T20:55:30Z","movedOn":"2021-10-27T20:55:30Z","tags":[],"containingCardId":null,"color":"#FFFFFF","iconPath":null,"customIconLabel":"Class
        of Service","cust[...]
