interactions:
- request:
    body: null
    headers:
      authorization:
      - REDACTED
    method: GET
    uri: https://d09.leankit.io/io/okr/board/10136408886/user?search=
  response:
    body:
      string: '{"pageMeta":{"totalRecords":114,"offset":0,"limit":25,"startRow":1,"endRow":25},"boardUsers":[{"userId":"10145733305","firstName":"Ajit","lastName":"D''Sa","emailAddress":"adsa@planview.com","boardId":"10136408886","administrator":true,"WIP":null,"id":null,"licenseType":"full","role":{"key":"boardAdministrator","value":4,"label":"Administrator"}},{"userId":"10145601702","firstName":"Alex","lastName":"Glabman","emailAddress":"aglabman@planview.com","boardId":"10136408886","administrator":true,"WIP":null,"id":null,"licenseType":"full","role":{"key":"boardAdministrator","value":4,"label":"Administrator"}},{"userId":"10114907543","firstName":"Analytics","lastName":"TestUser","emailAddress":"analytics-testuser@leankit.com","boardId":"10136408886","administrator":false,"WIP":null,"id":null,"licenseType":"full","role":{"key":"[...]
