interactions:
- request:
    body: null
    headers:
      authorization:
      - REDACTED
    method: GET
    uri: https://d09.leankit.io/io/okr/board/10136408886
  response:
    body:
      string: '{"users":[{"id":"10113280591","username":"lpadgett@planview.com","firstName":"Libby","lastName":"Padgett","fullName":"Libby
        Padgett","emailAddress":"lpadgett@planview.com","gravatarLink":null,"avatar":null,"lastAccess":"2022-01-25T16:09:28.380Z","dateFormat":"MM/dd/yyyy","organizationId":"10113280894","boardId":"10136408886","wip":0,"roleTypeId":5,"settings":{},"boardRoles":[]},{"id":"10136409086","username":"leankitlibby+tu22@gmail.com","firstName":"libby","lastName":"tu22
        me","fullName":"libby tu22 me","emailAddress":"leankitlibby+tu22@gmail.com","gravatarLink":null,"avatar":null,"lastAccess":"2018-11-09T21:48:08.293Z","dateFormat":"MM/dd/yyyy","organizationId":"10113280894","boardId":"10136408886","wip":0,"roleTypeId":0,"settings":{},"boardRoles":[]},{"id":"10145783577","username":"okrs-test-2@leankit.com","firstName":"OKRs","lastName":"Test2","fullName":"OKRs
        Test2","emailAddress":"okrs-test-2@leankit.com","gravatarLink":null,"avatar":null,"lastAccess":"2021-11-08T05:58:51.053Z","dateFormat":"dd/MM/yyyy","organizationId":"10113280894","boardId":"10136408886","wip":0,"roleTypeId":2,"settings":{},"boardRoles":[]}],"classesOfService":[],"tags":["tag2","tag3"],"customFields":[],"planningSeries":[],"id":"10136408886","title":"API
        Testing - Libby1","description":null,"creationDate":"2018-07-17T18:51:48.543Z","classOfServiceEnabled":false,"customIconFieldLabel":"Class
        of Service","organizationId":"10113280894","version":303,"cardColorField":1,"isCardIdEnabled":true,"isHeaderEnabled":true,"isHyperlinkEnabled":false,"isPrefixEnabled":false,"prefix":null,"format":null,"isPrefixIncludedInHyperlink":false,"baseWipOnCardSize":false,"excludeCompletedAndArchiveViolations":false,"isDuplicateCardIdAllowed":true,"isAutoIncrementCardIdEnabled":false,"currentExternalCardId":"0","isWelcome":false,"isShared":true,"isArchived":false,"sharedBoardRole":"4","customBoardMoniker":null,"isPermalinkEnabled":false,"isExternalUrlEnabled":false,"allowUsersToDeleteCards":true,"allowPlanviewIntegration":false,"subscriptionId":null,"boardRole":"boardAdministrator","effectiveBoardRole":"boardAdministrator","cardTypes":[{"id":"10136408888","name":"Other
        Work","colorHex":"#FFFFFF","isCardType":true,"isTaskType":false},{"id":"10136408889","name":"Defect","colorHex":"#F1C7C5","isCardType":true,"isTaskType":false},{"id":"10136408890","name":"Documentation","colorHex":"#D0CCE0","isCardType":true,"isTaskType":false},{"id":"10136408891","name":"Improvement","colorHex":"#BFDFC2","isCardType":true,"isTaskType":false},{"id":"10136408892","name":"New
        Feature","colorHex":"#B8CFDF","isCardType":true,"isTaskType":false},{"id":"10136408893","name":"Risk
        / Issue","colorHex":"#FAD7B2","isCardType":true,"isTaskType":false},{"id":"10136408894","name":"Subtask","colorHex":"#FFF8DF","isCardType":false,"isTaskType":true}],"laneClassTypes":[{"id":0,"name":"active"},{"id":1,"name":"backlog"},{"id":2,"name":"archive"}],"lanes":[{"id":"10136408899","name":"Not
        Started - Future Work","description":null,"cardStatus":"notStarted","active":true,"cardLimit":0,"creationDate":"2018-07-17T18:51:48.526Z","index":0,"parentLaneId":null,"activityId":null,"orientation":"vertical","isConnectionDoneLane":false,"isDefaultDropLane":false,"columns":3,"wipLimit":0,"cardCount":22,"cardSize":22,"archiveCardCount":0,"sortBy":null,"subscriptionId":null,"laneClassType":"backlog","laneType":"ready","isCollapsed":false},{"id":"10136408904","name":"New
        Requests","description":null,"cardStatus":"notStarted","active":true,"cardLimit":0,"creationDate":"2018-07-17T18:51:48.526Z","index":0,"parentLaneId":"10136408899","activityId":null,"orientation":"vertical","isConnectionDoneLane":false,"isDefaultDropLane":true,"columns":1,"wipLimit":0,"cardCount":20,"cardSize":20,"archiveCardCount":0,"sortBy":null,"subscriptionId":null,"laneClassType":"backlog","laneType":"ready","isCollapsed":false},{"id":"10136408[...]
