interactions:
- request:
    body: null
    headers:
      authorization:
      - REDACTED
    method: GET
    uri: https://d09.leankit.io/io/okr/board?search=Test
  response:
    body:
      string: '{"pageMeta":{"totalRecords":29,"offset":0,"limit":200,"startRow":1,"endRow":29},"boards":[{"id":"10137801794","title":"!
        BoardRole Triggers test","description":null,"boardRoleId":4,"isWelcome":false,"boardRole":"boardAdministrator"},{"id":"10145618741","title":"14
        May 2020-d09 - Copy of Testing Analytics","description":"","boardRoleId":4,"isWelcome":false,"boardRole":"boardAdministrator"},{"id":"10136408886","title":"API
        Testing - Libby1","description":null,"boardRoleId":4,"isWelcome":false,"boardRole":"boardAdministrator"},{"id":"10145333362","title":"Board
        for card health api test","description":"","boardRoleId":4,"isWelcome":false,"boardRole":"boardAdministrator"},{"id":"1014[...]
