interactions:
- request:
    body: null
    headers:
      authorization:
      - REDACTED
    method: GET
    uri: https://d09.leankit.io/io/okr/user/me
  response:
    body:
      string: '{"id":"10145734719","username":"eheiberg@planview.com","firstName":"Eric","lastName":"Heiberg","fullName":"Eric
        Heiberg","emailAddress":"eheiberg@planview.com","lastAccess":"2021-10-27T20:29:17.536Z","dateFormat":"MM/dd/yyyy","administrator":true,"enabled":true,"deleted":false,"organizationId":"10113280894","boardCreator":false,"timeZone":"America/Chicago","licenseType":"full","externalUserName":null,"avatar":"https://d09.leankit.io/avatar/show/10145734719/?s=25","settings":{"useMondayForCalendarWeekViewStart":false,"locale":"en-US","recentBoards":["10136408886","10140086427","10114363264","10139847916"]},"boardRoles":[{"boardId":"10113283924","WIP":null,"role":{"key":"boardReader","value":1,"label":"Reader"}},{"boardId":"10113283925","WIP":null,"role":{"key":"boardAdministrator","value":4,"label":"Administrator"}},{"boardId":"10113286854","WIP":null,"role":{"key":"boardReader","value":1,"label":"Reader"}},{"boardId":"10113337366","WIP":null,"role":{"key":"boardReader","value":1,"label":"Reader"}},{"boardId":"10113359925","WIP":null,"role":{"key":"boardReader","value":1,"label":"Reader"}},{"boardId":"10113367451","WIP":null,"role":{"key":"boardReader","value":1,"label":"Reader"}},{"boardId"[...]
